{% extends "base.html" %}

{% block title %}Echo - Campaigns{% endblock %}

{% block header %}Campaigns{% endblock %}

{% block content %}
    <ul>
        {% for campaign in campaigns %}
        <li>
            <strong>{{ campaign.name }}</strong> (ID: {{ campaign.id }})
            <a href="/campaigns/show?campaign_id={{ campaign.id }}">View</a>
            <a href="/campaigns/update?campaign_id={{ campaign.id }}">Edit</a>
            <a href="/campaigns/delete?campaign_id={{ campaign.id }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block nav %}
    <a href="/campaigns/create">Create New Campaign</a>
{% endblock %}